<!-- weather-widget.html -->
<div class="toolOutput">
  {% if tool.error %}
  <div class="toolError">{{ tool.error }}</div>
  {% else %}
    {% if tool.warning %}
    <div class="toolWarning">{{ tool.warning }}</div>
    {% endif %}

    {% if not tool.result %}
    <div class="weatherContainer">
      <div class="location"><h2>No weather data</h2></div>
    </div>
    {% else %}
    <div class="weatherContainer">
      <!-- Location -->
      <div class="location"><h2>{{ tool.result[0].location }}</h2></div>
      <div class="reports">
        {% for report in tool.result %}
        <div class="weatherReport">
          <!-- Date -->
          <p>{{ report.date }}</p>
          <!-- Temperature -->
          <p>{{ report.temperature }}&deg;{{ report.unit }}</p>
          <!-- Conditions -->
          <p>{{ report.conditions }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  {% endif %}
</div>
